/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body {
    padding: 1rem;
}