// Your Variables Goes Here
$body-bg:                   #7f8c8d;
$body-color:                #ecf0f1;

@import "~bootstrap/scss/bootstrap.scss";

// Global Stylesheet
body {
    opacity: 1;
    transition: opacity .5s;
}

