// Your Variables Goes Here
$body-bg:                   #ecf0f1;
$body-color:                #7f8c8d;

@import "~bootstrap/scss/bootstrap.scss";

// Global Stylesheet
body {
    opacity: 1;
    transition: opacity .5s;  
}